.about-us-container{
    height: 93vh;
    background-image: url(/src/assets/backgroud-blur.png);
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-us-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-logo-img{
    height: 270px;
    width: 300px;
    margin-left: 2vw;
    margin-bottom: 0px;
}
.body-logo{
    margin-right: 2vh;
    width: 38%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body-logo p{
    font-family: Roboto;
    font-weight: 700;
    color: white;
    margin-left: 20px;
}
.body-info{
    border-radius: 20px;
}
.body-info{
    display: flex;
    align-items: flex-start;
    width: 50%;
    overflow-y: scroll;
}
.body-info-img{
    height: 100%;
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.body-info p{
    margin: 5% 10% 10% 10%;
    font-family: Roboto;
    font-weight: 100;
    font-size: 1rem;
}
