.about-us-container{
    height: 100vh;
    background-image: url(/src/assets/backgroud-blur.png);
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-us-body-logo-img{
    height: 90%;
    width: 80%;
}
.about-us-body-info-img{
    height: 100%;
    width: 100%;
}
.about-us-body{
    height: 70%;
    width: 90%;
    display: flex;
    background-image: linear-gradient(135deg, #10993e, #5b5e92);
}
.about-us-body-logo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #10993e, #5b5e92);
}
.about-us-body-logo-1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us-body-logo-2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us-body-logo-2 p{
    font-family: Roboto;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    color: white;
}
.about-us-body-info{
    background-color: #ffffff;
    border-radius: 10px;
    width: 70%;
    height: 90%;
    margin: 2%;
    display: flex;
}
.about-us-body-info-1{
    height: 80%;
    margin: 4%;
    width: 34%;
}
.about-us-body-info-2{
    padding: 3%;
    height: 64%;
    margin-top: 4%;
    margin-right: 7%;
    width: 50%;
    position: relative;
    overflow-y: auto;
}
.about-us-body-info-2 p{
    font-family: Roboto;
    font-size: 20px;
}

