@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.login-form{
    font-family: Roboto;
    margin-top: 3%;
    width: 48%;
    height: 90%;
    background-color: rgb(225, 225, 225);
    margin-left: 4%;
    border-radius: 20px;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgb(197, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: slideInFromTop 0.8s ease-in-out forwards;   
}
.login-form-left-section-top-elements{
    width: 100%;
    height: 20%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.login-top-element-h1{
    align-self: center;
    font-size: 75px;
    margin-top: 2%;
}
.login-top-element-p{
    line-height: 1px;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
.login-form-left-section-middle-elements{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form-left-section-middle-elements input{
    width: 45%;
    height: 15%;
    border: none;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    border: 0.1px solid rgb(204, 202, 202);
    box-shadow: 0px 0px 5px rgb(155, 157, 155);
}
.login-form-left-section-middle-elements label{
    display: inline-block;
    background-color: rgb(225, 225, 225);
    width: max-content;
    position: relative;
    top: 5%;
    right: 12%;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}
.login-form-left-section-bottom-elements{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.login-button {
    font-family: Roboto;
    font-style: normal;
    font-size: 1em;
    font-weight: 600; 
    height: 27%;
    width: 30%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 3px;
    transition: background-color 0.3s, box-shadow 0.3s; 
}
.login-button:hover {
    background-color: orange; 
}

.login-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
} 

@media screen and (max-width: 768px) {
    .login-form-left-section-top-elements {
        height: 15%; 
    }

    .login-top-element-h1 {
        font-size: 13px; 
    }

    .login-top-element-p {
        font-size: 8px;
    }

    .login-form-left-section-middle-elements {
        height: 40%;
    }

    .login-form-left-section-middle-elements input {
        width: 70%;
        height: 40%;
    }

    .login-form-left-section-middle-elements label {
        right: 10%; 
        background-color: none;
        left: auto; 
        top: 0%; 
    }
}