.login-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("src/assets/login-images/login-bg-img.jpg");
    background-size: cover;
    background-position: center;
}

.login-page {
    height: 80vh;
    width: 70vw;
    margin-left: 13vw;
    margin-top: 10vh;
    position: absolute;
    background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
    filter: none;
    border-radius: 40px;
    border: 1px solid rgb(246, 240, 240);
    box-shadow: 0px 0px 10px rgb(34, 27, 74);
    display: flex;
    justify-content: space-between;
}

.login-page-right-section {
    margin-right: 4%;
    margin-top: 3%;
    height: 90%;
    width: 40%;
    background-image: linear-gradient(to bottom, #FF8C00, #FFA500);
    border-radius: 20px;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgb(197, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.back-home-button {
    font-family: Roboto;
    font-style: normal;
    margin-left: 30%;
    margin-bottom: 20%;
    font-size: 1em;
    font-weight: 600;
    align-self: center;
    height: 7%;
    width: 40%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.back-home-button:hover {
    background-color: rgb(121, 118, 118);
}

.back-home-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 768px) {
    .login-page {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 5%;
    }

    .login-page-right-section {
        width: 60%;
    }

    .back-home-button {
        margin-left: 5%;
        width: 90%;
    }
}
